ErrorDocument 404 /apache-errors/404.html
ErrorDocument 500 /apache-errors/500.html

RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/link.php [L]

ExpiresActive On
ExpiresDefault "access 1 second"